@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="flex-column text-center text-eggshell">
        <h1 class="display-2">TRACKBACK</h1>
        <hr class="w-75"/>
        <h3>The project manager for the future</h3>
        <a asp-controller="Projects" asp-action="Create" class="btn btn-success mt-2">Create a project</a>
    </div>
</div>
