@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex justify-content-center">
    <div class="flex-column text-center">
        <h1 class="display-4">Welcome to TrackBack</h1>
        <hr class="w-75" />
        <h3>A project manager for the future</h3>
    </div>
</div>
