@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center flex-column align-items-center h-100">
    <h1 class="display-4">Welcome to TrackBack</h1>
    <p>A project manager for the future</p>
</div>
