@{
    ViewData["Title"] = "Home Page";
}

<div class="row vh-100">
    <div class="col-sm-6 mx-auto my-5">
        <div class="backcard">
            <h1 class="display-4">Welcome to TrackBack</h1>

            <p>A project manager for the future</p>
        </div>
    </div>
</div>
